In [9]:
#importing Selenium, pandas, selenium webdriver, warnings, and time
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [10]:
driver = webdriver.Chrome() #opening chrome browser using selenium driver

In [11]:
driver.get('https://www.shine.com/') #opening the webpage www.shine.com on automated chrome browser

In [13]:
#Enter “Data Analyst” in “Job title, Skills” field
designation = driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Analyst')

In [14]:
#and enter “Bangalore” in “enter the location” field
location = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [15]:
#click the searchbutton
search = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [17]:
#Declare lists
job_title = []
job_location = []
company_name = []
experience_required = []

In [18]:
start = 0
end = 10

for title_tags in range(start,end):
    title_tags = driver.find_elements(By.XPATH, '//h2[@itemprop="name"]')
    for i in title_tags:
        title = i.text
        job_title.append(title)
    
for title_tags in range(start,end):
    location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
    for i in location_tags:
        location = i.text
        job_location.append(location)
    
for company_tags in range(start,end):
    company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
    for i in company_tags:
        company = i.text
        company_name.append(company)
    
for experience_tags in range(start,end):
    experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
    for i in experience_tags:
        experience = i.text
        experience_required.append(experience)

In [19]:
print(len(job_title), len(job_location), len(company_name), len(experience_required))

200 200 200 200

In [20]:
print(len(job_title[0:10]), len(job_location[0:10]), len(company_name[0:10]), len(experience_required[0:10]))

10 10 10 10

In [21]:
import pandas as pd
df = pd.DataFrame({'Title':job_title[0:10],'Location':job_location[0:10],'Company Name':company_name[0:10],'Exprience Required':experience_required[0:10]})
df

,Title,Location,Company Name,Exprience Required
0,Data Analyst,Bangalore\n+9,sahast sales corporation,12 to 22 Yrs
1,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
2,Data Analyst,Bangalore\n+9,sahast sales corporation,12 to 22 Yrs
3,Hiring For Data Analyst,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
4,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
5,Lead Data Analyst,Bangalore,ara resources private limited,4 to 9 Yrs
6,Data Analyst,Bangalore\n+3,diraa hr services hiring for mncs,0 to 1 Yr
7,Technical Data Architect,Bangalore,uprighthc solutions private limited,10 to 20 Yrs
8,Oracle Utilities (customer care & Billing) CC&...,Bangalore\n+2,ltimindtree limited,5 to 9 Yrs
9,Clinical Data Associate,Bangalore\n+6,techno endura,0 to 1 Yr