# Webscraping using BeautifulSoup -1
by --- Mohammed Ikramuddin

In [ ]:
!pip install bs4
!pip install requests

1) Write a python program to display IMDB’s Top rated 100 Indian movies’ data https://www.imdb.com/list/ls056092300/ (i.e. name, rating, year of release) and make data frame.

In [1]:
from bs4 import BeautifulSoup
import requests

Send 'get' requests to the webpage server to get the source code of the page

In [2]:
imdbpage = requests.get('https://www.imdb.com/list/ls056092300/')

imdb top 100 indian movies Page content

In [3]:
imdbsoup = BeautifulSoup(imdbpage.content)

Scraping Multiple Film Names

In [4]:
filmnames = []

for i in imdbsoup.find_all('h3', class_="lister-item-header"):
    filmnames.append(i.text.replace("\n",""))

Scraping Multiple Ratings

In [5]:
ratings = []

for i in imdbsoup.find_all('div', class_="ipl-rating-star small"):
    ratings.append(i.text.replace("\n",""))

Scraping Year of Release

In [6]:
releaseyear = []

for i in imdbsoup.find_all('span', class_="lister-item-year text-muted unbold"):
    releaseyear.append(i.text)

In [7]:
print(len(filmnames),len(ratings),len(releaseyear))

100 100 100

Making Data Frame

In [8]:
import pandas as pd
dfimdb = pd.DataFrame({'Film Name':filmnames, 'Rating':ratings, 'Year of Release':releaseyear})
dfimdb

                                    Film Name Rating Year of Release
0                     1.Ship of Theseus(2012)      8          (2012)
1                              2.Iruvar(1997)    8.4          (1997)
2                     3.Kaagaz Ke Phool(1959)    7.8          (1959)
3   4.Lagaan: Once Upon a Time in India(2001)    8.1          (2001)
4                     5.Pather Panchali(1955)    8.2          (1955)
..                                        ...    ...             ...
95                       96.Apur Sansar(1959)    8.4          (1959)
96                       97.Kanchivaram(2008)    8.2          (2008)
97                   98.Monsoon Wedding(2001)    7.3          (2001)
98                             99.Black(2005)    8.1          (2005)
99                          100.Deewaar(1975)      8          (1975)

[100 rows x 3 columns]

Q2-Please visit https://www.keaipublishing.com/en/journals/artificial-intelligence-in-agriculture/most-downloaded-articles/ and scrap-

a) Paper title

b) date

c) Author

In [42]:
from bs4 import BeautifulSoup
import requests

In [9]:
keaipage = requests.get("https://www.keaipublishing.com/en/journals/artificial-intelligence-in-agriculture/most-downloaded-articles/")

keai publishing journals Page Content

In [10]:
keaisoup = BeautifulSoup(keaipage.content)

Scraping Paper Title

In [11]:
keaititle = keaisoup.find('h2', class_="h5 article-title")

removespace = keaititle.text.replace("  ","")

removen = removespace.replace("\n","")

keaipapertitle = removen.replace("\r","")

keaipapertitle

'Implementation of artificial intelligence in agriculture for optimisation of irrigation and application of pesticides and herbicides'

Scraping Date

In [12]:
keaidate = keaisoup.find('p', class_="article-date")

keaidate.text

'2020'

Scraping Author

In [13]:
keaiauthor = keaisoup.find('p', class_="article-authors")

keaiauthor.text

' Tanha Talaviya |  Dhara Shah |  Nivedita Patel |  Hiteshri Yagnik |  Manan Shah'

Q3-Please visit https://www.cnbc.com/world/?region=world and scrap-

a) headings

b) date

c) News link

In [21]:
from bs4 import BeautifulSoup
import requests

In [43]:
cnbcpage = requests.get("https://www.cnbc.com/world/?region=world")

cnbc page content

In [44]:
cnbcsoup = BeautifulSoup(cnbcpage.content)

Scraping News Headings

In [25]:
cnbcheading = cnbcsoup.find('div', class_="RiverHeadline-headline RiverHeadline-hasThumbnail")

cnbcheading.text

'Iran holds first elections since Mahsa Amini protests, with low turnout and boycott expected'

Scraping News Date

In [27]:
cnbcnewsdate = cnbcsoup.find('span', class_="RiverByline-datePublished")

cnbcnewsdate.text

'2 hours ago'

Scraping News Link

In [41]:
cnbcnewslink = cnbcsoup.find('div', class_="RiverHeadline-headline RiverHeadline-hasThumbnail")

cnbcnewslink.find('a').get("href")

'https://www.cnbc.com/2024/03/01/iran-elections-low-turnout-and-boycott-expected.html'

Q4) Write a python program to scrape product name, price and discounts from https://www.meesho.com/bags-ladies/pl/3jo?page=1

In [42]:
from bs4 import BeautifulSoup
import requests

In [45]:
meeshopage = requests.get("https://www.meesho.com/bags-ladies/pl/3jo?page=1")

meeshopage

Q5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
    
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

b) Top 10 ODI Batsmen along with the records of their team and rating.

c) Top 10 ODI bowlers along with the records of their team and rating.

In [33]:
from bs4 import BeautifulSoup
import requests

In [34]:
iccoditeamspage = requests.get("https://www.icc-cricket.com/rankings/team-rankings/mens/odi")

In [35]:
iccoditeamssoup = BeautifulSoup(iccoditeamspage.content)

Scraping ICC ODI Teams Ranking table

In [37]:
iccoditeamsrank = iccoditeamssoup.find('div', class_="si-table-row")

iccoditeamsrank

Q6) Write a python program to scrape details of all the posts from https://www.patreon.com/coreyms .Scrape the heading, date, content and the likes for the video from the link for the youtube video from the post.

Q7) Write a python program to scrape house details from mentioned URL. It should include house title, location, area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, Rajaji Nagar.

In [1]:
from bs4 import BeautifulSoup
import requests

# Locality - Indiranagar

In [49]:
nobrokerindiranagarpage = requests.get("https://www.nobroker.in/property/sale/bangalore/Indiranagar?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciJ9XQ==&radius=2.0&city=bangalore&locality=Indiranagar")

In [11]:
indiranagarsoup = BeautifulSoup(nobrokerindiranagarpage.content)

House Title - Indiranagar

In [12]:
indiranagarhousetitle = indiranagarsoup.find('h2', class_="heading-6 flex items-center font-semi-bold m-0")

indiranagarhousetitle.text

'2 BHK Apartment In Gopalan Admirality Court, Indiranagar For Sale  In Indiranagar'

House Location - Indiranagar

In [13]:
indiranagarhouselocation = indiranagarsoup.find('div', class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0.1p po:max-w-95")

indiranagarhouselocation.text

'Gopalan Admirality Court, Indiranagar\xa0  6th Main Rd, Eshwara Layout, Indiranagar, Bengaluru, Karnataka 560038, India'

House Builtup Area - Indiranagar

In [46]:
indiranagarhousearea = indiranagarsoup.find('div', id="unitCode")

indiranagarhousearea.text

'1,360 sqft'

House EMI - Indiranagar

In [45]:
indiranagarhouseemi = indiranagarsoup.find('div', id="roomType")

indiranagarhouseemi.text

'₹1.03 Lacs/Month'

House Price - Indiranagar

In [31]:
indiranagarhouseprice = indiranagarsoup.find('div', class_="flex flex-col w-33pe items-center bo tp:w-half po:w-full border-r border-r-solid border-card-overview-border-color last:border-r-1")

indiranagarhouseprice.text.replace('es', 'es -> ')

'₹1.8 Crores -> ₹13,235 per sq.ft.'

# Locality - Jayanagar

In [48]:
nobrokerjayanagarpage = requests.get("https://www.nobroker.in/property/sale/bangalore/Jayanagar?searchParam=W3sibGF0IjoxMi45MzA3NzM1LCJsb24iOjc3LjU4MzgzMDIsInBsYWNlSWQiOiJDaElKMmRkbFo1Z1ZyanNSaDFCT0FhZi1vcnMiLCJwbGFjZU5hbWUiOiJKYXlhbmFnYXIiLCJzaG93TWFwIjpmYWxzZX1d&radius=2.0&city=bangalore&locality=Indiranagar&isMetro=false")

In [51]:
jayanagarsoup = BeautifulSoup(nobrokerjayanagarpage.content)

House Title - Jayanagar

In [53]:
jayanagarhousetitle = jayanagarsoup.find('h2', class_="heading-6 flex items-center font-semi-bold m-0")

jayanagarhousetitle.text

'2 BHK Flat In Pallava Terrace Apartments For Sale  In Jayanagar'

House Location - Jayanagar

In [54]:
jayanagarhouselocation = jayanagarsoup.find('div', class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0.1p po:max-w-95")

jayanagarhouselocation.text

'Pallava Terrace Apartments, North Main Road, opp. Yediyur Lake, Yediyur, Jayanagar, Bengaluru, Karnataka, India'

House Builtup Area - Jayanagar

In [55]:
jayanagarhousearea = jayanagarsoup.find('div', id="unitCode")

jayanagarhousearea.text

'1,050 sqft'

House EMI - Jayanagar

In [56]:
jayanagarhouseemi = jayanagarsoup.find('div', id="roomType")

jayanagarhouseemi.text

'₹57,314/Month'

House Price - Jayanagar

In [58]:
jayanagarhouseprice = jayanagarsoup.find('div', class_="flex flex-col w-33pe items-center bo tp:w-half po:w-full border-r border-r-solid border-card-overview-border-color last:border-r-1")

jayanagarhouseprice.text.replace('re', 're -> ')

'₹1 Crore -> ₹9,524 per sq.ft.'

# Locality - Rajajinagar

In [59]:
nobrokerrajajinagarpage = requests.get("https://www.nobroker.in/property/sale/bangalore/Rajajinagar?searchParam=W3sibGF0IjoxMi45OTgxNzMyLCJsb24iOjc3LjU1MzA0NDU5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnhmVzREUE05cmpzUktzTlRHLTVwX1FRIiwicGxhY2VOYW1lIjoiUmFqYWppbmFnYXIiLCJzaG93TWFwIjpmYWxzZX1d&radius=2.0&city=bangalore&locality=Indiranagar&isMetro=false")

In [60]:
rajajinagarsoup = BeautifulSoup(nobrokerrajajinagarpage.content)

House Title - Rajajinagar

In [61]:
rajajinagarhousetitle = rajajinagarsoup.find('h2', class_="heading-6 flex items-center font-semi-bold m-0")

rajajinagarhousetitle.text

'3 BHK Apartment In Brigade Gateway For Sale  In Rajaji Nagar'

House Location - Rajajinagar

In [62]:
rajajinagarhouselocation = rajajinagarsoup.find('div', class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0.1p po:max-w-95")

rajajinagarhouselocation.text

'Brigade Gateway\xa0 Dr Rajkumar Road, Rajaji Nagar, Bengaluru, Karnataka 560055, India'

House Builtup Area - Rajajinagar

In [64]:
rajajinagarhousearea = rajajinagarsoup.find('div', id="unitCode")

rajajinagarhousearea.text

'3,150 sqft'

House EMI - Rajajinagar

In [65]:
rajajinagarhouseemi = rajajinagarsoup.find('div', id="roomType")

rajajinagarhouseemi.text

'₹4.3 Lacs/Month'

House Price - Rajajinagar

In [68]:
rajajinagarhouseprice = rajajinagarsoup.find('div', class_="flex flex-col w-33pe items-center bo tp:w-half po:w-full border-r border-r-solid border-card-overview-border-color last:border-r-1")

rajajinagarhouseprice.text.replace('es', 'es -> ')

'₹7.5 Crores -> ₹23,810 per sq.ft.'

Q8) Write a python program to scrape first 10 product details which include product name , price , Image URL from https://www.bewakoof.com/bestseller?sort=popular .

In [70]:
from bs4 import BeautifulSoup
import requests

In [72]:
bewakoofpage = requests.get("https://www.bewakoof.com/bestseller?sort=popular")

In [74]:
bewakoofsoup = BeautifulSoup(bewakoofpage.content)

Bewakoof Product Name List

In [76]:
bewakoofproductname = []

for i in bewakoofsoup.find_all('div', class_="productNaming bkf-ellipsis"):
    bewakoofproductname.append(i.text)
    
bewakoofproductname

["bewakoof x looney tunesWomen's Blue Round in Bugs Graphic Printed Oversized Short Top",
 "Bewakoof®Men's Blue Rider Vroom Panda Graphic Printed T-shirt",
 "Bewakoof®Men's Jet Black Vest",
 "bewakoof x dcMen's Black Batman Outline Logo T-shirt",
 "bewakoof x marvelMen's White Marvel Printed T-shirt",
 "Bewakoof®Men's Black T-shirt",
 "Bewakoof®Men's White T-shirt",
 "Bewakoof®Women's Black Boyfriend T-shirt",
 "bewakoof x friendsMen's Black Friends Logo T-shirt",
 "Bewakoof®Women's Red Boyfriend T-shirt"]

Bewakoof Product Price List

In [80]:
bewakoofproductprice = []

for i in bewakoofsoup.find_all('div', class_="discountedPriceText clr-p-black false"):
    bewakoofproductprice.append(i.text)
    
bewakoofproductprice

['₹487',
 '₹444',
 '₹384',
 '₹399',
 '₹399',
 '₹499',
 '₹449',
 '₹399',
 '₹339',
 '₹349']

Bewakoof Product Image URLs

In [82]:
bewakoofproductimages = []

for i in bewakoofsoup.find_all("img", class_='productImgTag'):
    bewakoofproductimages.append(i['src'])

bewakoofproductimages

['https://images.bewakoof.com/t640/women-s-blue-round-in-bugs-graphic-printed-oversized-short-top-589789-1707221362-1.jpg',
 'https://images.bewakoof.com/t640/men-s-blue-rider-vroom-panda-graphic-printed-t-shirt-387282-1705996206-1.jpg',
 'https://images.bewakoof.com/t640/jet-black-vest-210687-1659522825-1.jpg',
 'https://images.bewakoof.com/t640/men-s-black-batman-outline-logo-t-shirt-283889-1701423873-1.jpg',
 'https://images.bewakoof.com/t640/men-s-white-marvel-printed-t-shirt-390747-1705996158-1.jpg',
 'https://images.bewakoof.com/t640/men-s-black-t-shirt-106-1701423878-1.jpg',
 'https://images.bewakoof.com/t640/men-s-white-t-shirt-105-1702967985-1.jpg',
 'https://images.bewakoof.com/t640/women-s-black-boyfriend-t-shirt-103943-1655747735-1.jpg',
 'https://images.bewakoof.com/t640/men-s-black-friends-logo-t-shirt-234662-1709214838-1.jpg',
 'https://images.bewakoof.com/t640/women-s-red-boyfriend-t-shirt-170465-1658918677-1.jpg']

In [83]:
print(len(bewakoofproductname), len(bewakoofproductprice), len(bewakoofproductimages))

10 10 10